<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:ox="http://xmlns.jcp.org/jsf/composite/ox">

	<h:outputStylesheet>
        .paddning4 {
            padding: 4px;
            background-color: white;
        }

        .noBorder {
            border-right: 0px;
        }

        .addConfig {
            text-align: right;
            white-space: nowrap;
        }

        .removeConfig {
            text-align: left;
            vertical-align: top;
        }

        .col-sm-11 {
    		width: 80.66666667% !important;
		}
    </h:outputStylesheet>

	<h:outputScript>
        function validateCollapsiblePanel(collapsiblePanelId) {
            var presentErrors = $('div[id*=' + collapsiblePanelId + '] span[class=errors]').length > 0;
            if (presentErrors) {
                // TODO: Find a way how to expand panel in RichFaces 4. Maybe we can do that on server side
            }
        }
        
        function calcTime() {
        	var spanvalue = document.querySelector('[id$=":lastrun"]');
        	console.log("spanvalue : " + spanvalue.innerHTML);
        	if(spanvalue.innerHTML != ''){
				var lastRunValue = new Date(spanvalue.innerHTML + " UTC");
				var displayLastRun = (lastRunValue.toString()).replace(/GMT.+/,"");	
				spanvalue.innerHTML = displayLastRun; 
			}   
		}
        
    </h:outputScript>

	<ox:changeBindPasswordDialog id="bindPasswordDialogId"
		label="#{msg['organization.changeBackend']} '#{_configureCacheRefreshAction.activeLdapConfig.configId}' #{msg['organization.bindPassword']}"
		password="#{_configureCacheRefreshAction.activeLdapConfig.bindPassword}"
		setPasswordMethod="#{configureCacheRefreshAction.updateBindPassword}" />

	<h:form id="cacheRefreshForm">
		<f:validateBean>
			<input type='hidden' name='cid' value='#{conversation.id}' />
			<div class="row">
				<div class="col-xs-12">
					<div class="nav-tabs-custom"
						style="margin-bottom: 0px; overflow: auto;">
						<ul class="nav nav-tabs" id="cacheRefreshFormtab">
							<li class="active"><a href="#cache-refresh"
								data-toggle="tab">#{msg['organization.cacheRefresh']}</a></li>
							<li><a href="#key-attributes" data-toggle="tab">#{msg['organization.customerBackend']}</a></li>
							<li><a href="#ldap-servers" data-toggle="tab">#{msg['organization.sourceBackend']}</a></li>
							<li><a href="#Inum" data-toggle="tab">#{msg['organization.inumLDAPServer']}</a></li>
						</ul>
						<div class="tab-content">

							<div class="tab-pane active" id="cache-refresh">

								<div style="display: inline-block; width: 75% !important;">

									<h:panelGroup columns="1" width="100%" border="0"
										cellpadding="0" cellspacing="0">
										<ox:decorate label="#{msg['organization.lastRun']}">
											<h:outputText id="lastrun" styleClass="lastRunValueBox"
												value="#{_configureCacheRefreshAction.appliance.vdsCacheRefreshLastUpdate}">
												<f:convertDateTime pattern="MMM. d yyyy hh:mm a" />
											</h:outputText>
										</ox:decorate>
										<ox:decorate
											label="#{msg['organization.updatesAtTheLastRun']}">
											<h:outputText styleClass="updatesAtTheLastRunValueBox"
												value="#{_configureCacheRefreshAction.appliance.vdsCacheRefreshLastUpdateCount}" />
										</ox:decorate>
										<ox:decorate
											label="#{msg['organization.problemsAtTheLastRun']}">
											<h:outputText styleClass="problemsAtTheLastRunValueBox"
												value="#{_configureCacheRefreshAction.appliance.vdsCacheRefreshProblemCount}" />
										</ox:decorate>
										<ox:decorate id="editType"
											label="#{msg['organization.refreshMethod']}">
											<h:selectOneMenu
												styleClass="form-control refreshMetodSelectBox"
												value="#{_configureCacheRefreshAction.updateMethod}"
												required="true" id="refreshMethodId">
												<f:selectItems
													value="#{_configureCacheRefreshAction.allCacheRefreshUpdateMethods}"
													var="_type" itemLabel="#{_type.displayName}" />
												<f:converter
													converterId="org.gluu.jsf2.converter.EnumConverter" />
												<a4j:ajax event="change"
													render="vdsTogglePanelGroup, copyTogglePanelGroup"
													execute="@this" limitRender="true" />
											</h:selectOneMenu>
										</ox:decorate>
										<h:panelGroup id="copyTogglePanelGroup">
											<h:panelGroup id="properties" columns="1" width="100%"
												border="0" cellpadding="0" cellspacing="0">
												<ox:simpleCustomPropertiesList
												    id="scpl"
												    leftClass="col-sm-4" rightClass="col-sm-8"
													rendered="#{_configureCacheRefreshAction.updateMethod.value eq 'copy'}"
													label="#{msg['organization.sourceAttributeToDesitnation']}"
													properties="#{_configureCacheRefreshAction.attributeMapping}"
													propertiesAction="#{_configureCacheRefreshAction}" />
											</h:panelGroup>
										</h:panelGroup>

										<h:outputScript>
                                           validateCollapsiblePanel("cacheRefreshForm\\:sourceAttributesPanel");
                                           validateCollapsiblePanel("cacheRefreshForm\\:sourceTogglePanel");
                                           validateCollapsiblePanel("cacheRefreshForm\\:inumTogglePanel");
                                           validateCollapsiblePanel("cacheRefreshForm\\:vdsTogglePanel");
                                           validateCollapsiblePanel("cacheRefreshForm\\:copyTogglePanel");
                                        </h:outputScript>

										<ox:decorate label="#{msg['organization.pollingInterval']}">
											<h:inputText styleClass="form-control pollingIntervalTextBox"
												value="#{_configureCacheRefreshAction.appliance.vdsCacheRefreshPollingInterval}"
												id="vdsCacheRefreshPollingIntervalId" size="5" />
										</ox:decorate>

										<ox:decorate label="#{msg['organization.serverIPAddress']}">
											<h:inputText styleClass="form-control serverIpTextBox"
												value="#{_configureCacheRefreshAction.appliance.cacheRefreshServerIpAddress}"
												id="cacheRefreshServerIpAddressId" size="16" />
										</ox:decorate>

										<ox:decorate label="#{msg['organization.snapshotFolder']}">
											<h:inputText styleClass="form-control snapshotFolderTextBox"
												value="#{_configureCacheRefreshAction.cacheRefreshConfig.snapshotFolder}"
												size="48" required="true" />
										</ox:decorate>

										<ox:decorate label="#{msg['organization.snapshotCount']}">
											<h:inputText styleClass="form-control snapshotCount"
												value="#{_configureCacheRefreshAction.cacheRefreshConfig.snapshotMaxCount}"
												size="5" required="true" />
										</ox:decorate>

										<ox:decorate
											label="#{msg['organization.keepExternalPersons']}">

											<h:selectBooleanCheckbox
												styleClass="keepInternalPersonCheckBox"
												value="#{_configureCacheRefreshAction.cacheRefreshConfig.keepExternalPerson}" />
										</ox:decorate>

										<ox:decorate label="#{msg['organization.loadSourceData']}">

											<h:selectBooleanCheckbox styleClass="loadSourceDataCheckBox"
												value="#{_configureCacheRefreshAction.cacheRefreshConfig.useSearchLimit}" />
										</ox:decorate>

										<ox:decorate label="#{msg['organization.searchSizeLimit']} ">
											<h:inputText styleClass="form-control searchLimitTextBox"
												value="#{_configureCacheRefreshAction.cacheRefreshConfig.ldapSearchSizeLimit}"
												size="6" required="false" />
										</ox:decorate>

										<ox:decorate id="vdsCacheRefreshState"
											label="#{msg['organization.cacheRefresh']}">
											<h:selectOneMenu
												value="#{_configureCacheRefreshAction.appliance.vdsCacheRefreshEnabled}"
												styleClass="form-control enableCacheRefreshSelectBox"
												id="vdsCacheRefreshStateId">
												<f:selectItems
													value="#{organizationService.booleanSelectionTypes}"
													var="_type" itemLabel="#{_type.displayName}" />
												<f:converter
													converterId="org.gluu.jsf2.converter.EnumConverter" />
											</h:selectOneMenu>
										</ox:decorate>

									</h:panelGroup>

									<h:panelGroup id="vdsTogglePanelGroup">
										<ox:ldapConfig
											ldapConfig="#{_configureCacheRefreshAction.targetConfig}"
											ldapConfigAction="#{configureCacheRefreshAction}"
											propertiesAction="#{_configureCacheRefreshAction}"
											displayBaseDn="false" displayAnonymousBind="false"
											displayEnable="false" displayRemoveButton="false"
											changePasswordDialogId="bindPasswordDialogId:changePasswordModalPanel"
											rendered="#{_configureCacheRefreshAction.updateMethod.value eq 'vds'}" />
									</h:panelGroup>

								</div>
							</div>

							<div class="tab-pane" id="key-attributes">
								<div style="display: inline-block; width: 90% !important;">
									<h:panelGroup>
										<ox:simplePropertiesList
											label="#{msg['organization.keyAttribute']}"
											labelAdd="key attribute" maxItems="3"
											properties="#{_configureCacheRefreshAction.keyAttributes}"
											propertiesAction="#{_configureCacheRefreshAction}"
											required="true" tableId="KeyAttributeList" />

										<ox:simplePropertiesList
											label="#{msg['organization.objectClass']}"
											labelAdd="object class"
											properties="#{_configureCacheRefreshAction.keyObjectClasses}"
											propertiesAction="#{_configureCacheRefreshAction}"
											required="true" tableId="ObjectClassList" />

										<ox:simplePropertiesList
											label="#{msg['organization.sourceAttribute']}"
											labelAdd="source attribute"
											properties="#{_configureCacheRefreshAction.sourceAttributes}"
											propertiesAction="#{_configureCacheRefreshAction}"
											required="true" tableId="SourceAttribeList" />

										<ox:decorate id="customLdapFilter"
											label="#{msg['organization.customLDAPFilter']}">
											<h:panelGroup>
												<h:inputText styleClass="form-control customFilterTextBox"
													value="#{_configureCacheRefreshAction.cacheRefreshConfig.customLdapFilter}"
													size="48" />

											</h:panelGroup>
										</ox:decorate>
									</h:panelGroup>
								</div>
							</div>

							<div class="tab-pane" id="ldap-servers">

								<div class="box box-primary">
									<div class="box-header"></div>
									<h:panelGroup>
										<rich:dataGrid id="sourceConfigsId"
											value="#{_configureCacheRefreshAction.sourceConfigs}"
											var="_ldapConfig" columns="1" style="width: 100%;" border="0"
											columnClasses="noBorder">
											<div style="display: inline-block; width: 75% !important;">
												<ox:ldapConfig ldapConfig="#{_ldapConfig}"
													ldapConfigList="#{_configureCacheRefreshAction.sourceConfigs}"
													ldapConfigAction="#{_configureCacheRefreshAction}"
													propertiesAction="#{_configureCacheRefreshAction}"
													displayEnable="false" renderAfterRomoval="sourceConfigsId"
													showTestButton="true"
													displayAnonymousBind="false"
													changePasswordDialogId="bindPasswordDialogId:changePasswordModalPanel" />
											</div>
										</rich:dataGrid>

										<h:panelGroup layout="block" styleClass="addConfig">
											<a4j:commandLink
												styleClass="btn btn-link addSourceServerButton"
												value="#{msg['organization.addSourceLDAPServer']}"
												action="#{_configureCacheRefreshAction.addSourceConfig()}"
												render="sourceConfigsId"
												style="margin-right:1100px;margin-top:50px;" />
										</h:panelGroup>
									</h:panelGroup>
								</div>
							</div>

							<div class="tab-pane" id="Inum">
								<div style="display: inline-block; width: 75% !important;">
									<h:panelGroup columns="1" width="100%" border="0"
										cellpadding="0" cellspacing="0">

										<ox:decorate label="#{msg['organization.defaultInumServer']}">
											<h:selectBooleanCheckbox
												styleClass="defaultInumServerCheckBox"
												value="#{_configureCacheRefreshAction.cacheRefreshConfig.defaultInumServer}">
												<a4j:ajax event="click" render="inumServerId"
													execute="@this" limitRender="true" />
											</h:selectBooleanCheckbox>
										</ox:decorate>

										<h:panelGroup id="inumServerId">

											<ox:ldapConfig
												ldapConfig="#{_configureCacheRefreshAction.inumConfig}"
												ldapConfigAction="#{configureCacheRefreshAction}"
												propertiesAction="#{_configureCacheRefreshAction}"
												maxBaseDnItems="1" displayAnonymousBind="false"
												displayEnable="false" displayRemoveButton="false"
												changePasswordDialogId="bindPasswordDialogId:changePasswordModalPanel"
												rendered="#{not _configureCacheRefreshAction.cacheRefreshConfig.defaultInumServer}" />
										</h:panelGroup>
									</h:panelGroup>
								</div>
							</div>


						</div>
					</div>
					<div class="box-footer">

						<rich:notifyMessages stayTime="2000" nonblocking="true"
							rendered="#{showGlobalMessages == 'false'}" />

						<h:commandButton styleClass="btn btn-primary updateButon"
							value="#{msg['organization.update']}"
							action="#{configureCacheRefreshAction.update}" />
						<h:commandButton styleClass="btn btn-primary cancelButton"
							value="#{msg['organization.cancel']}"
							action="#{configureCacheRefreshAction.cancel}" immediate="true"
							style="margin-left:5px" />
						<h:commandButton styleClass="btn btn-primary validateButton"
							value="#{msg['organization.update']} &amp; #{msg['organization.validateScript']}"
							action="#{configureCacheRefreshAction.validateInterceptorScript}"
							style="margin-left:5px" />

					</div>
				</div>
			</div>
			<ui:insert name="controlButttons" />
		</f:validateBean>
	</h:form>

	<ui:include
		src="/WEB-INF/incl/organization/cacheRefreshInterceptorValidationDialog.xhtml" />
	<h:outputScript>
    calcTime();
    </h:outputScript>
    <script>
	    $('#cacheRefreshFormtab a').click(function(e) {
		  e.preventDefault();
		  $(this).tab('show');
		});

		// store the currently selected tab in the local storage
		$("ul.nav-tabs > li > a").on("shown.bs.tab", function(e) {
		  var id = $(e.target).attr("href").substr(1);
		  window.localStorage.setItem('cacheRefreshFormtab', id);
		  var storeValue = window.localStorage.getItem('cacheRefreshFormtab');
		});
     
		// on load of the page: switch to the currently selected tab
		 $(document).ready(function() {
			    var value =  window.localStorage.getItem('cacheRefreshFormtab');
            	if (value) {
            		var activeTab = "#";
            		activeTab = activeTab.concat(value);  
            		$('#cacheRefreshFormtab a[href="' + activeTab + '"]').tab('show');
            	}
       });
    </script>

</ui:composition>
