<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html" 
    xmlns:a4j="http://richfaces.org/a4j" 
    xmlns:rich="http://richfaces.org/rich"
    xmlns:gluufn="http://www.gluu.org/jsf/functions"
    xmlns:richext="http://xmlns.jcp.org/jsf/composite/richext"
    xmlns:cc="http://xmlns.jcp.org/jsf/composite">

<cc:interface>
    <cc:attribute name="label" default="Set new password" required="false" type="java.lang.String" />
    <cc:attribute name="password" required="true" type="java.lang.String" />
    <cc:attribute name="person" required="false" type="org.gluu.oxtrust.model.GluuCustomPerson" />
    <cc:attribute name="verifyOldPassword" required="false" type="java.lang.Boolean" />
    <cc:attribute name="setPasswordMethod" required="true" method-signature="void action()" />
    <cc:attribute name="cancelPassowrdMethod" required="false" method-signature="void action()" />
    <cc:attribute name="validatorBinding" required="false" type="javax.faces.component.UIComponent" />
</cc:interface>

<cc:implementation>
    <rich:popupPanel id="changePasswordModalPanel" onmaskclick="#{rich:component('changePasswordModalPanel')}.hide()" zindex="2000" moveable="true" autosized="true" width="500" keepVisualState="true">
        <f:facet name="header">
            <h:outputText value="#{cc.attrs.label}" />
        </f:facet>
        <f:facet name="controls">
            <h:graphicImage value="/img/close.gif" styleClass="hidelink" style="cursor:pointer" onclick="#{rich:component('changePasswordModalPanel')}.hide(); return false;" />
        </f:facet>

        <h:outputStylesheet>
            .red {
                color: red;
            }
     
            .green {
               color: green;
            }
        </h:outputStylesheet>

        <h:form id="changePasswordForm">
            <rich:graphValidator value="#{passwordValidationAction}" id="gv" binding="#{cc.attrs.validatorBinding}">
                <rich:messages for="gv" />

                <h:panelGrid id="passwordGroupId" columns="3">
                    <h:outputText value="Enter old password:" rendered="#{cc.attrs.verifyOldPassword}" />
                    <h:inputSecret value="#{passwordValidationAction.oldPassword}" id="old" rendered="#{cc.attrs.verifyOldPassword}" autocomplete="off" styleClass="form-control">
                        <rich:validator event="blur"/>
                    </h:inputSecret>
                    <rich:message for="old" rendered="#{cc.attrs.verifyOldPassword}" />

                    <h:outputText value="Enter new password:" style="margin-top: 10px;display: block;" />
                    <h:inputSecret value="#{passwordValidationAction.password}" id="pass" autocomplete="off" styleClass="form-control" style="margin-top: 10px;">
                        <rich:validator event="blur"/>
                    </h:inputSecret>
                    <rich:message for="pass" />

                    <h:outputText value="Confirm the new password:"  style="margin-top: 10px;display: block;"/>
                    <h:inputSecret value="#{passwordValidationAction.confirm}" id="conf" autocomplete="off" styleClass="form-control" style="margin-top: 10px;">
                        <rich:validator event="blur"/>
                    </h:inputSecret>
                    <rich:message for="conf" />
                </h:panelGrid>

                <richext:spacer height="16"/>

                <h:panelGroup style="margin-top: 10px;display: block;">
                    <a4j:commandButton styleClass="btn btn-primary savePasswordButton" value="Set password" action="#{passwordValidationAction.storeNewPassword(cc.attrs.person, cc.attrs.verifyOldPassword)}" oncomplete="if ((#{facesContext.maximumSeverity == null}) || (#{facesContext.maximumSeverity.ordinal le 1})) {resetPassowrdForm(); #{rich:component('changePasswordModalPanel')}.hide();}" />

                    <a4j:commandButton style="margin-left: 5px;" styleClass="btn btn-primary" value="Cancel" oncomplete="resetPassowrdForm(); #{rich:component('changePasswordModalPanel')}.hide(); return false;" rendered="#{cc.attrs.cancelPasswordMethod == null}"
                         immediate="true" />&nbsp;
                    <a4j:commandButton style="margin-left: 5px;" styleClass="btn btn-primary" value="Cancel" oncomplete="resetPassowrdForm(); #{rich:component('changePasswordModalPanel')}.hide(); return false;" rendered="#{cc.attrs.cancelPasswordMethod != null}"
                        action="#{cc.attrs.cancelPasswordMethod}" />&nbsp;

                    <a4j:status startText="Request in progress please wait......" stopText="" startStyle="color:red" />
                </h:panelGroup>
                <a4j:jsFunction name="resetPassowrdForm" action="#{passwordValidationAction.reset}" render="passwordGroupId"/>
            </rich:graphValidator>
        </h:form>
    </rich:popupPanel>
</cc:implementation>

</html>
