<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:gluufn="http://www.gluu.org/jsf/functions"
	xmlns:richext="http://xmlns.jcp.org/jsf/composite/richext"
	xmlns:ox="http://xmlns.jcp.org/jsf/composite/ox"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite">

<cc:interface>
	<cc:attribute name="ldapConfig" required="true"
		type="org.xdi.model.ldap.GluuLdapConfiguration" />
	<cc:attribute name="ldapConfigList" required="false"
		type="java.util.List" />
	<cc:attribute name="displayAnonymousBind" required="false"
		default="true" type="java.lang.Boolean" />
	<cc:attribute name="displayPrimaryKey" required="false" default="false"
		type="java.lang.Boolean" />
	<cc:attribute name="displayLocalPrimaryKey" required="false"
		default="false" type="java.lang.Boolean" />
	<cc:attribute name="displayBaseDn" required="false" default="true"
		type="java.lang.Boolean" />
	<cc:attribute name="displayEnable" required="false" default="true"
		type="java.lang.Boolean" />
	<cc:attribute name="inputWidth" default="48" required="false"
		type="java.lang.Integer" />
	<cc:attribute name="maxServerItems" type="java.lang.Integer" />
	<cc:attribute name="maxBaseDnItems" type="java.lang.Integer" />
	<cc:attribute name="propertiesAction" rerquired="true"
		type="org.gluu.oxtrust.model.SimplePropertiesListModel" />
	<cc:attribute name="displayRemoveButton" rerquired="true"
		default="true" type="java.lang.Boolean" />
	<cc:attribute name="renderAfterRomoval" type="java.lang.String" />
	<cc:attribute name="changePasswordDialogId" type="java.lang.String" />
	<cc:attribute name="ldapConfigAction" rerquired="true"
		type="org.gluu.oxtrust.model.LdapConfigurationModel" />
	<cc:attribute name="showTestButton" required="false" default="false"
		type="java.lang.Boolean" />	
</cc:interface>

<cc:implementation>
	

				<h:panelGroup columns="2" columnClasses="alignLeft, removeConfig"
					width="100%" border="0" cellpadding="0" cellspacing="0">
					<a4j:commandButton styleClass="btn btn-primary deleteSourceServerButton"
					                style="float: right; color: white;margin-bottom:5px; margin-top:5px; margin-right:-32%; border:none !important; background: #d62728 !important; background-color: #d62728 !important;"
									value="Remove source server"
									execute="@this"
									rendered="#{cc.attrs.displayRemoveButton}"
									render="#{cc.attrs.renderAfterRomoval}"
									action="#{cc.attrs.ldapConfigAction.removeLdapConfig(cc.attrs.ldapConfigList, cc.attrs.ldapConfig)}"/>
					<h:panelGroup columns="1" width="100%" border="0" cellpadding="0"
						cellspacing="0">
						<ox:decorate id="name" label="#{msg['ldapConfig.name']}">
							<h:inputText styleClass="form-control nameTextBox"
								value="#{cc.attrs.ldapConfig.configId}"
								size="#{cc.attrs.inputWidth}" required="true" />
						</ox:decorate>


						<ox:decorate
							id="useAnonymousBind" rendered="#{cc.attrs.displayAnonymousBind}" label="#{msg['ldapConfig.useAnonymousBind']}">
							<h:selectBooleanCheckbox
								value="#{cc.attrs.ldapConfig.useAnonymousBind}">
								<a4j:ajax event="click" render="bindDnGroup" execute="@this" />
							</h:selectBooleanCheckbox>
						</ox:decorate>

						<h:panelGroup id="bindDnGroup">
							<ox:decorate
								id="bindDn"
								rendered="#{not cc.attrs.ldapConfig.useAnonymousBind}" label="#{msg['ldapConfig.bindDN']}">
								<h:inputText styleClass="form-control bindDnTextBox"
									value="#{cc.attrs.ldapConfig.bindDN}" size="46"
									required="#{not ldapConfig.useAnonymousBind}" />
							</ox:decorate>
						</h:panelGroup>

						<ox:decorate id="useSSL" label="#{msg['ldapConfig.maxConnections']}">
							<h:inputText styleClass="form-control maxConnectionTextBox"
								value="#{cc.attrs.ldapConfig.maxConnections}" size="5"
								required="true" />
						</ox:decorate>

						<ox:decorate
							rendered="#{cc.attrs.displayPrimaryKey}" label="#{msg['ldapConfig.primaryKey']}">
							<h:inputText styleClass="form-control primaryKeyTextBox"
								value="#{cc.attrs.ldapConfig.primaryKey}" required="true"
								size="46" />
						</ox:decorate>

						<ox:decorate
							rendered="#{cc.attrs.displayLocalPrimaryKey}" label="#{msg['ldapConfig.localPrimaryKey']}">
							<h:inputText styleClass="form-control localPrimaryKeyTextBox"
								value="#{cc.attrs.ldapConfig.localPrimaryKey}" required="true"
								size="46" />
						</ox:decorate>

						<ox:decorate label="#{msg['ldapConfig.level']}" rendered="false">
							<rich:inputNumberSpinner value="#{cc.attrs.ldapConfig.level}"
								inputSize="2" minValue="0" maxValue="100" styleClass="ldapLevelSpinnerBox" />
						</ox:decorate>

			<ox:simplePropertiesList label="#{msg['ldapConfig.server']}" labelAdd="server"
							properties="#{cc.attrs.ldapConfig.servers}"
							propertiesAction="#{cc.attrs.propertiesAction}"
							inputWidth="#{cc.attrs.inputWidth}" required="true"
							maxItems="#{cc.attrs.maxServerItems}" tableId="ServerList" />

						<ox:simplePropertiesList label="#{msg['ldapConfig.baseDN']}" labelAdd="base DN"
							maxItems="#{cc.attrs.maxBaseDnItems}"
							properties="#{cc.attrs.ldapConfig.baseDNs}"
							propertiesAction="#{cc.attrs.propertiesAction}" required="true"
							rendered="#{cc.attrs.displayBaseDn}" tableId="BaseDnList"/>
						
						<ox:decorate hideLabel="true">
						<a4j:commandLink style= "margin-left:-12px;" styleClass="btn btn-link col-sm-8 changeBindDnButton"
							value="#{msg['ldapConfig.changeBindPassword']}"
							oncomplete="#{rich:component(cc.attrs.changePasswordDialogId)}.show();"
							rendered="#{cc.attrs.changePasswordDialogId != null}"
							render="#{cc.attrs.changePasswordDialogId}:changePasswordForm"
							limitRender="true"
							action="#{cc.attrs.ldapConfigAction.setActiveLdapConfig(cc.attrs.ldapConfig)}"
							execute="@this" />
							</ox:decorate>
							<ox:decorate
							id="maxConnection" label="#{msg['ldapConfig.useSSL']}">
							<h:selectBooleanCheckbox value="#{cc.attrs.ldapConfig.useSSL}"
								required="true" styleClass="useSSLSelectBox"/>			
						    </ox:decorate>

						<ox:decorate rendered="#{cc.attrs.displayEnable}" label="#{msg['ldapConfig.enabled']}">
							<h:selectBooleanCheckbox value="#{cc.attrs.ldapConfig.enabled}"  />
						</ox:decorate>
						<h:commandButton style= "margin-left:15px;" styleClass="btn btn-success buttonTestConnection"
									value="#{msg['manageAuthentication.testLDAPConnection']}"
									rendered="#{cc.attrs.showTestButton}"
									action="#{cc.attrs.ldapConfigAction.testLdapConnection(cc.attrs.ldapConfig)}"/>
					</h:panelGroup>
					
					
					
				</h:panelGroup>
				
		
</cc:implementation>

</html>